@model IEnumerable<WebApplication2.Models.Organization>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @* ReSharper disable Mvc.ActionNotResolved *@
    @Html.ActionLink("Create New", "Create")
    @* ReSharper restore Mvc.ActionNotResolved *@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationLogo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationType.OrganizationTypeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrganizationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrganizationAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrganizationLogo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrganizationType.OrganizationTypeName)
        </td>
        <td>
            @* ReSharper disable Mvc.ActionNotResolved *@
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            @* ReSharper restore Mvc.ActionNotResolved *@
        </td>
    </tr>
}

</table>
